.modal-win {
	border-radius: rem(4);
	background-color: $body-bg;
	position: relative;
	padding: 94px 24px;

	.mfp-close {
		color: $black;
		font-size: 40px;
		font-weight: 100;
	}

	.form-wrap{
		text-align: center;
		width: 714px;
		max-width: 100%;
		form{
			margin-left: auto;
			margin-right: auto;
			width: 384px;
			max-width: 100%;
		}
		margin-left: auto;
		margin-right: auto;

		&__input-wrap{
			margin-bottom: rem(16);
		}
		&__input{
			height: auto;
			min-height: 0;
			padding: 20px 16px;
			line-height: 1;
			border-radius: rem(4);
		}
		&__btn{
			@extend .btn;
			@extend .btn-primary;
			padding: 12.5px 25px;
		}
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}