mixin modal()
	//  start modals
	+b.modal-win(id="preorder-modal" class="" style="display: none")
		+form-wrap
			+input('Телефон', 'tel')
			+e.BUTTON.btn(type='submit') Оформить предзаказ
	// #modal-call
	
	// end modals