// start .headerBlock
.headerBlock {
	--sPT: #{rem(17)};
	--sPB: #{rem(24)};
	--sTPB: #{0};
	@include media-breakpoint-up(sm){
		--sPT: #{rem(32)};
		--sPB: #{rem(24)};
		--sTPB: #{0};
	}

	&__row{
		@include roww(0px);
	}
	&__img{
		min-height: 100%;
		@extend .accept-ratio-frame-nh;

		padding-top: (262/327) * 100%;
		@include media-breakpoint-up(lg){
			padding-top: (60/72) * 100%;
		}
	}
	&__slider-col{
		background-color: $light-bg;
	}
	//slider
	&__slider{
		position: relative;
		height: 100%;
		margin: 0 auto;

		padding: rem(40px) 0 rem(25px);
		width: 182px;
		@include media-breakpoint-up(sm){
			padding: rem(50px) 0 rem(40px);
			width: 330px;
		}
		@include media-breakpoint-up(xl){
			width: 400px;
			padding: rem(60px) 0;
		}
		@include media-breakpoint-up(xxl){
			padding: rem(100px) 0 rem(75px) 0;
		}
		.swiper-container{

		}
		.swiper-wrapper{

		}
		.swiper-slide{
			height: auto;
		}
		//pugin
		.header-pugin{
			position: absolute;
			left: 0;
			bottom: unset;
			top: 182px;
			@include media-breakpoint-up(sm){
				top: 330px;
			}
			@include media-breakpoint-up(xl){
				top: 400px;
			}
			//background-color: rgba(pink, .1);
			transform: translateY(-100%);
			z-index: 2;

			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			padding: 16px 10px 0px 10px;
			@include media-breakpoint-up(sm){
				padding: 16px 10px 8px 10px;
			}
			.swiper-pagination-bullet{
				width: 5px;
				height: 5px;
				@include media-breakpoint-up(sm){
					width: 10px;
					height: 10px;
				}
				border-radius: 50%;
				border: 1px solid $primary;
				background-color: transparent;

				margin: 0 4px 4px 4px;
				@include media-breakpoint-up(sm){
					margin: 0 8px 8px 8px;
				}
				&-active{
					background-color: $primary;
				}
			}
		}
		//prev, next
		.header-prev,
		.header-next{
			@extend .preve-next-frame;
		}

		.header-prev{
			right: calc(100% + 20px);
			@include media-breakpoint-up(sm){
				right: calc(100% - 35px);
			}
			@include media-breakpoint-up(xxl){
				right: calc(100% + 20px);
			}
		}
		.header-next{
			left: calc(100% + 20px);
			@include media-breakpoint-up(sm){
				left: calc(100% - 35px);
			}
			@include media-breakpoint-up(xxl){
				left: calc(100% + 20px);
			}
		}
		//
	}
	&__slide-content{
		display: block;
		position: relative;
		span{
			display: block;
		}
	}
	&__slide-img{
		@extend .accept-ratio-frame-nh;
		padding-top: 100%;

		//margin-bottom: rem(8);
	}

	//slide-descr
	&__slide-descr{
		padding-top: rem(8);

		text-align: center;
		@include media-breakpoint-up(sm){
			display: flex!important;
			align-items: center;
			justify-content: space-between;
			text-align: left;
		}
	}
	&__txt{
		color: $body-color;
		font-size: rem(14);
		line-height: (15.4/14);

		margin-bottom: rem(8px);
		@include media-breakpoint-up(sm){
			margin-bottom: 0;
		}
	}
	&__watch-txt{
		font-size: rem(14);
		line-height: (15.4/14);

		@include media-breakpoint-up(sm){
			margin-right: 10px;
		}
		@include mt();
		color: $body-color;
		text-decoration: underline;
		&:hover{
			color: $body-color2;
			text-decoration: none;
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
}

// end.headerBlock