extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sNew/_sNew.pug
include ../blocks/sAdvantage/_sAdvantage.pug
include ../blocks/sZones/_sZones.pug
include ../blocks/sBrends/_sBrends.pug
include ../blocks/sColections/_sColections.pug
include ../blocks/sInstagramm/_sInstagramm.pug
include ../blocks/sSafe/_sSafe.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sItemsSlider/_sItemsSlider.pug
include ../blocks/sCart/_sCart.pug
include ../blocks/sCheckout/_sCheckout.pug

block variables
	- let  mainPage= null
block title
	- let  title= '022-checkout-unfinished'
	title= title
block pagecontent
	+header()
		+top-nav()
	+sCheckoutUnfinished()
	+sSafe()
	+footer()


	