// start .sContent
.sContent {
	--sPT: #{rem(40)};
	--sPB: #{rem(35)};
	--sTPB: #{rem(50)};
	@include media-breakpoint-up(md) {
		--sTPB: #{rem(105)};
		--sPT: #{rem(75)};
		--sPB: #{rem(70)};
	}

	> * {
		line-height: 150%;
	}


	.container {
		@include media-breakpoint-up(xl) {
			max-width: 1180px;
		}
	}

	&__rCol {
		padding-bottom: rem(48);
	}

	strong {
		display: block;
	}

	h6, .h6 {
		line-height: 150%;
		margin-bottom: 1.7rem;
		@include media-breakpoint-up(md) {
			margin-bottom: 3.7rem;
		}
		font-weight: 300;
	}

	h3, .h3 {
		margin-bottom: rem(14);
	}

	p {
		&:not(:last-child) {
			margin-bottom: 1.3rem;
		}
	}

	a {
		font-weight: 300;
		display: block;
		&:hover {
			text-decoration: underline;
		}
	}
	
	&__link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}


	&__imgBlock {
		margin-bottom: rem(20);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(40);
		}
		margin-left: rem(-16);
		margin-right: rem(-16);
		img {
			padding-left: rem(16);
			padding-right: rem(16);
		}
	}


	&__small {
		font-size: $small;
	}


	&__contact {
		font-size: $h6-font-size;
		a {
			font-weight: 400;
			text-decoration: none;
			display: inline-block;
		}
	}


	h1, .h1 {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: -16px;
			@include media-breakpoint-up(md) {
				bottom: -28px;
			}
			@include a-cent(x);
			width: rem(35);
			height: 1px;
			background-color: $primary;
		}
	}

	
	&__item {
		margin-bottom: rem(36);

		&.active {
			.sContent__itemTitle .icon {
				transform: rotate(-90deg);
			}
		}
	}

	&__row {
		@include media-breakpoint-up(xl) {
			@include roww(196px)
		}
	}

	&__col {
		@include media-breakpoint-up(lg) {
			margin-top: rem(-5);
			max-width: 57%;
		}
	}

	&__itemTitle {
		font-size: $h5-font-size;
		display: flex;
		justify-content: space-between;
		padding-bottom: rem(7);
		border-bottom: solid 1px $border-gray;
		@extend .mono;


		.icon {
			stroke: $primary;
			transform: rotate(90deg);
			color: transparent;
			font-size: rem(16);
			@include mt;
			margin-right: 3px;

		}
	}

	&__body {
		padding-top: rem(30);
		flex-direction: column;
		display: none;

		&.active {
			display: flex !important;
		}

		&--sm {
			max-width: 390px;
		}

	}

	ul {
		margin-bottom: rem(10);
		li {
			padding-left: rem(11);
			padding-bottom: rem(5);
			list-style: none;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 10px;
				border-radius: 50%;
				background-color: $primary;
				width: 3px;
				height: 3px;
			}
		}
	}

	strong, span {
		margin-bottom: rem(8);
	}

	&__cardsRow {
		@include roww(24px);
	}

	.mw-560 {
		max-width: rem(560);
		margin-left: auto;
		margin-right: auto;
	}

	.section-title--textBelow {
		padding-bottom: calc(var(--sTPB) / 2);
	}

	&_page11 {
		@include media-breakpoint-up(md) {
			padding-bottom: calc(var(--sPB) / 2.3);
		}
	}






	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {} 

	&_404 {
		min-height: rem(600);
		display: grid;
		place-items: center;
		--sTPB: #{rem(10)};
		@include media-breakpoint-up(md) {
			--sTPB: #{rem(30)};
		}

	}

	&__homeLink {
		text-align: center;
		position: relative;
		font-size: rem(16);
		text-decoration: none !important;

		&::before {
			content: '';
			position: absolute;
			bottom: -7px;
			@include a-cent(x);
			width: rem(35);
			height: 1px;
			background-color: $primary;
			@include mt;
		}

		&:hover {

			&::before {
				width: rem(70);
				opacity: 0;
				bottom: 0;
			}
		}
	}

} // end.sContent

.accardion-toggle-js {
	cursor: pointer;
}

.lookbookItem {
	display: block;
	text-decoration: none !important;
	height: calc(100% - 40px);
	margin-bottom: rem(40);


	&__imgWrap {
		@extend .accept-ratio-frame;
		background: #fff;
		padding-top: (406/270) * 100%;
		margin-bottom: rem(8);
	}

	&__text {
		@extend .mono;
		@extend .h6;
	}
}