mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		+b.section-title.text-center
			h2 sCatalog
			
		.row
	// end sCatalog

mixin catalogItem(i,sale,basket)
	+b.catalogItem&attributes(attributes)