mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+e.row.row
				+e.filterCol.col-lg
					+sFilter
				.col
					+b.section-title
						h1 Хлебницы
						+breadcrumb('Кухня','Хранение на кухне','Хлебницы')
					+e.smallWidth
						h5 Глиняная хлебница с&nbsp;крышкой из&nbsp;красного клёна от&nbsp;бренда YADOMA. Каждый наш продукт изготовлен по&nbsp;индивидуальной технологии, мы&nbsp;учитываем все особенности изделия и предлагаем вам лучшее
					+e.filterModal.d-lg-none.toggle-filter--js
						+icon('filters')
						| Фильтры
					+e.sortRow.row.justify-content-between.align-items-center
						.col
							+e.result Нашлось по запросу: 5
						.col-auto
							+input('По возрастанию','select')
					+b.tagsBlock
						+e.tag Природный белый
							+e.remove(type="submit")
						+e.tag YADOMA
							+e.remove(type="submit")
						+e.tag Bulthaup
							+e.remove(type="submit")
						+e.tag Emma Danish
							+e.remove(type="submit")
						+e.tag Керамика, белый клён
							+e.remove(type="submit")
						+e.tag Красная глина, сосна
							+e.remove(type="submit")
						+e.tag Белая глина, сосна
							+e.remove(type="submit")
						+e.tag Сталь, бук
							+e.remove(type="submit")

					.row
						.col-6.col-md-4.col-lg-6.col-xl-4
							+catalogItem('1.png','','- 45%')
								+b.tagsBlock
									a(href="#") Хлебная зона
									a(href="#") Welcome
								+e.title(href="#") Bulthaup
								+e.name Хлебница-контейнер /
									span BAHIA
								+e.priceWrap
									+e.oldPrice 60 000 RUB
									+e.price 42 999 RUB
						.col-6.col-md-4.col-lg-6.col-xl-4
							+catalogItem('2.png','basket')
								+b.tagsBlock
									a(href="#") Хлебная зона
									a(href="#") Welcome
								+e.title(href="#") Yadoma
								+e.name Хлебница-контейнер /
									span Bread Collection
								+e.priceWrap
									+e.price 16 000 RUB
						.col-6.col-md-4.col-lg-6.col-xl-4
							+catalogItem('3.png','basket')
								+b.tagsBlock
									a(href="#") Хлебная зона
								+e.title(href="#") Emma
								+e.name Хлебница /
									span Emma Danish
								+e.priceWrap
									+e.price 16 000 RUB
						.col-6.col-md-4.col-lg-6.col-xl-4
							+catalogItem('4','','- 45%')
								+b.tagsBlock
									a(href="#") Хлебная зона
									a(href="#") Welcome
								+e.title(href="#") Emma
								+e.name Хлебница /
									span Emma Stelton
								+e.priceWrap
									+e.price 10 090 RUB
						.col-6.col-md-4.col-lg-6.col-xl-4
							+catalogItem('5','','- 45%')
								+b.tagsBlock
									a(href="#") Хлебная зона
									a(href="#") Welcome
								+e.title(href="#") Yamazaki
								+e.name Хлебница /
									span Tower
								+e.priceWrap
									+e.price 8 630 RUB
	// end sCatalog

mixin catalogItem(i,basket,sale)
	+b.catalogItem&attributes(attributes)
		+e.imgWrap(href="#")
			+pic(`catalogItem-${i}`,'','')
			if sale
				+e.sale= sale
		+e.body
			block
			if basket
				+e.btnWrap
					+e.minus(type="submit")
					+e.btn
						+icon('basket')
						+e.added 
							.d-none.d-sm-inline Добавлено 
							|1
					+e.plus(type="submit")
			else
				+e.btnWrap--sm(type="submit")
					+e.SPAN.btn
						+icon('basket')
						span В корзину
