// start .sFilter
.sFilter {
	--sPT: #{rem(80)};

	&__block {
		padding-bottom: rem(35);
		margin-bottom: rem(45);
		border-bottom: solid 1px rgba($color: $body-color2, $alpha: 0.3);
	}

	&__title {
		@extend .h5;
		font-weight: 300;
	}



	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sFilter