.top-nav {
	font-weight: 400;
	position: relative;
	background-color: $body-bg;
	z-index: 10;

	&__top-strip{
		background-color: $body-color2;
		//height: 30px;
	}
	&__top-container{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__menu{

	}
	&__tell{
		position: absolute;
		height: 100%;
		width: auto;
		right: 15px;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		color: $body-bg;
		&:hover{
			color: $white;
			text-shadow: 0 0 1px rgba($white, .6);
		}
		font-weight: 300;
		line-height: 1;
	}
	.navMenu{
		list-style: none;
		padding: 0;
		margin: 0;

		width: auto;
		display: flex;
		align-items: stretch;

		&__item{
			margin-right: rem(20);
			@include media-breakpoint-up(xxl){
				margin-right: rem(32);
			}
			&:last-child{
				margin-right: 0;
			}
		}
		&__link{
			@include mt();
			display: block;
			font-size: rem(12);
			line-height: rem(30px);

			font-weight: 300;
			color: $light-white;
			text-decoration: none;
			&:hover{
				color: $white;
				text-shadow: 0 0 1px rgba($white, .6);
			}
		}
	}
	//
	&__logo-strip{
		//height: 70px;
		border-bottom: 1px solid rgba($border-gray, .3);
		position: relative;
		height: 53px;
		@include media-breakpoint-up(lg){
			height: auto;
		}
	}
	//search-strip
	&__search-strip{
		@include mt();
		background-color: $body-bg;
		position: absolute;
		z-index: 2;
		top: calc(100% + 1px);
		left: 0;
		width: 100%;
		//box-shadow: inset 0 0 0 1px red;
		border-bottom: 1px solid rgba($border-gray, .5);

		transform-origin: top;

		transform: scaleY(0);
		&.active{
			transform: scaleY(1);
		}

		.form-wrap{
			padding: 26px 0 32px 0;
			max-width: calc(100% - 100px);
			min-width: 274px;
			@include media-breakpoint-up(lg){
				padding: rem(58px) 0 rem(62px) 0;
				max-width: 800px;
			}
			margin: 0 auto;
			form{
				position: relative;
			}
			&__input-wrap{

			}
			&__input{
				border-top: 1px solid transparent;
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;

				&:focus{
					box-shadow: 0px 5px 5px -5px rgba($primary, .6);
				}

				font-size: 10.3px;
				padding: 6px 0;
				@include media-breakpoint-up(sm){
					font-size: rem(16.5);
					padding: rem(5px);
				}

				height: auto;
				min-height: 0;
			}
			&__btn{
				@extend .btn;
				position: absolute;
				right: 0;
				top: 0;
				width: auto;
				height: 100%;

				border-radius: 0;
				box-shadow: none!important;
				border: none!important;
				background-color: transparent!important;

				display: flex;
				align-items: center;
				justify-content: center;

				//background-color: pink;
				button{
					display: none;
				}
				padding: 6px 15px;

				&:hover{
					.icon{
						transform: scale(1.1);
					}
					span{
						color: $body-color2;
					}
				}
				.icon{
					@include mt();
					@include media-breakpoint-up(lg){
						margin-right: rem(10);
					}
					font-size: rem(14);
				}
				span{
					font-size: rem(16);
					display: none;
					@include media-breakpoint-up(lg){
						display: block;
					}
					@include mt();
					color: $body-color;
				}
			}
			//
			&__{}
			&__{}
			&__{}
		}
	}

	//
	&__logo-container{
		padding: rem(4) 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media-breakpoint-down(lg){
			max-width: 100%!important;
			padding: rem(8px) rem(24px) rem(9px) rem(24px);
		}
	}
	//
	&__burger-btn{
		position: absolute;
		left: 0px;
		top: 0;
		height: 100%;
		padding: 0 24px;
		//background-color: pink;

		flex-direction: column;
		align-items: center;
		justify-content: center;

		&:before,
		&:after{
			@include mt();
			content: "";
			display: block;
			width: 25px;
			height: 1px;
			background: $primary;
		}

		&:before{
			margin-bottom: rem(5);
		}

		&.active{
			&:before{
				margin-bottom: 0;
				transform: rotate(-45deg) translateY(0.5px);
			}
			&:after{
				transform: rotate(45deg) translateY(-0.5px);
			}
		}
	}
	&__logo{
		width: 127px;
		@include media-breakpoint-up(lg){
			width: rem(240);
		}
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}
	}
	//search-cart
	&__search-cart{
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
		height: 100%;
		//background-color: pink;

		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__search-btn{
		padding: rem(10px) rem(20px);

		position: relative;
		.icon{
			position: absolute;
			top: 50%;
			left: 50%;
			//width: 16px;
			//height: 16px;

			@include mt();
			font-size: rem(14);
			color: $body-color;
		}
		.icon:first-child{
			transform: scale(1) translateX(-50%) translateY(-50%);
			transform-origin: left center;
		}
		.icon:last-child{
			transform: scale(0) translateX(-50%) translateY(-50%);
			transform-origin: right center;
		}

		&:hover{
			.icon{
				font-size: rem(16);
				color: $black;
			}
		}

		&.active{
			.icon:first-child{
				transform: scale(0) translateX(-50%) translateY(-50%);
			}
			.icon:last-child{
				transform: scale(1) translateX(-50%) translateY(-50%);
			}
		}
	}
	&__cart-btn{
		padding: 15px 24px 15px 6px;
		@include media-breakpoint-up(lg){
			padding: 15px;
		}
		display: flex;
		align-items: center;
		.icon{
			font-size: rem(14);
			@include mt();
			margin-right: rem(6);
		}

		color: $body-color;
		&:hover{
			color: $black;
		}

		span{
			font-weight: 300;
			font-size: rem(12px);
		}
	}

	//.pop-up-menu
	&__pop-up-menu{
		background-color: $body-bg;
		@include media-breakpoint-down(lg){
			overflow-y: auto;
			display: flex;
			flex-direction: column;
		}

		position: absolute;
		top: 53px;
		left: 0;
		height: calc(100vh - 53px);
		width: 100%;

		transform: translateX(-110vw);
		&.active{
			transform: translateX(0);
		}
		@include mt();

		@include media-breakpoint-up(lg){
			transform: none;

			padding: 15px;
			height: auto;
			position: relative;
			top: unset;
			left: unset;
			border-bottom: 1px solid rgba($border-gray, .3);
		}
	}
	//mob-tell
	&__mob-tell{
		display: block;
		width: 100%;
		//height: 40px;
		padding: 13px 24px;
		font-size: 14px;
		line-height: 1;
		font-weight: 300;
		color: $body-bg;
		&:hover{
			color: $body-bg!important;
		}
		background-color: $primary;
	}
	//
	&__pop-up-cont{
		@include media-breakpoint-down(lg){
			padding: 0;
			max-width: 100%!important;
		}

		& > ul{
			list-style: none;
			margin: 0;
			padding: 0;

			@include media-breakpoint-up(lg){
				display: flex;
				align-items: center;
				justify-content: center;
			}

			& > li{
				& > a{
					display: block;
					cursor: pointer;
					font-size: rem(12px);
					line-height: (19/12);

					padding: 18px 24px;
					border-bottom: 1px solid $border-gray;
					@include media-breakpoint-up(lg){
						text-transform: uppercase;
						margin-right: rem(25);
						padding: 0;
						border-bottom: 0;
					}

					color: $body-color;
					&:hover{
						color: $black;
					}

					position: relative;
					@extend .before-chevron-frame;
				}

			}

			//last
			& > li:last-child{
				margin-right: 0;
				& > a{
					margin-right: 0;
					display: flex;
					@include media-breakpoint-up(lg){
						display: inline-flex;
					}
					align-items: center;
					&:after{
						content: '';
						width: 15px;
						height: 14px;

						background-image: url(../img/svg/wheat.svg);
						background-repeat: no-repeat;
						background-position: 100% 50%;
						background-size: contain;

					}
				}
			}

			//active statement
			@include media-breakpoint-up(lg){
				&.active > li > a{
					color: rgba($body-color, .5);
					&:hover, &.active{
						color: rgba($body-color, 1);
					}
				}
			}
			&.active > li > a.active:before{
				transform: rotateX(180deg);
			}

		}
	}
	//mob-menu

	&__mob-menu{
		flex-grow: 1;
		padding: 16px 24px 32px 16px;
		background-color: $primary;

		.navMenu{
			display: block;
		}
	}

	//
	&__inner-pop{
		@include media-breakpoint-down(lg){
			display: none;
			&.opened{
				display: block;
			}
			//background-color: darken($body-bg, 3);
		}
		@include media-breakpoint-up(lg){
			position: absolute;
			top: calc(100% + 1px);
			left: 0;

			display: block!important;
			transform: scaleY(0);
			&.active{
				transform: scaleY(1);
			}
			@include mt();
		}

		background-color: $body-bg;
		//box-shadow: inset 0 0 0 1px red;
		width: 100%;
		height: auto;
		transform-origin: top;
	}
	&__{}
	&__{}
	&__{}
	&__{}
}

.yadoma-c{
	padding: rem(80px) 15px;
	&__container{
		max-width: rem(980px);
		margin: 0 auto;
	}
	&__title{
		font-family: $mono;
		line-height: 1;
		margin-bottom: rem(15);
	}

	&__top-items-cont{
		margin-bottom: rem(48);
		position: relative;
		&:after{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: calc(100% - 68px);
			height: 1px;
			background-color: $primary;
		}
	}
	&__top-items{
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap: wrap;
		height: 325px;
		overflow-y: auto;
		@extend .customs-scroll;
	}
	&__item{
		width: rem(160px);
		padding-bottom: rem(48);

		margin-right: rem(40);
		&:nth-child(5n){
			margin-right: 0;
		}
	}
	&__img-inner{
		display: block;
		position: relative;
		width: 100%;
		height: 0;
		padding-top: (10/16) * 100%;
		margin-bottom: rem(16);

		background-color: $black;
		overflow: hidden;
		&:hover{
			img{
				transform: scale(1.1);
				opacity: .8;
			}
		}

		img{
			@include mt();
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__i-title{
		color: $body-color2;
		font-family: $mono;
		font-size: $h5-font-size;
		margin-bottom: rem(16);
	}
	&__list{
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			a{
				display: block;
				color: $body-color;
				&:hover{
					color: $black;
					text-decoration: underline;
				}
				font-weight: 300;
				line-height: 1;
			}
			margin-bottom: rem(12);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	//bot-items
	&__bot-row{
		padding-bottom: rem(60);
	}
	&__bot-col{
		margin-bottom: rem(30);
	}
	&__bot-item{
		a{
			display: block;

			color: $body-color;
			&:hover{
				color: $body-color2;
			}
		}
	}
	&__bot-img{
		width: 160px;
		display: block;
		span{
			display: block;
		}
	}
	&__bot-txt{
		color: $body-color;
		font-weight: 300;
		line-height: 1.1;
	}

	&__{}
	&__{}
}

.customs-scroll{
	/* width */
	&::-webkit-scrollbar {
		width: 4px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		border-radius: 10px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $scroll-gray;
		border-radius: 0;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: darken($scroll-gray, 5);
	}
}

//.part-5
.part-5{
	@include media-breakpoint-up(lg){
		padding: rem(48px) 0 rem(94px) 0;
	}

	&__container{
		@include media-breakpoint-down(lg){
			max-width: 100%!important;
			//padding: 0!important;
		}
	}

	&__row{
		flex-direction: column-reverse;
		@include media-breakpoint-up(lg){
			flex-direction: row;
			@include roww(48px);
		}
	}
	&__img-col{
		@include media-breakpoint-down(lg){
			display: flex;
			padding: 15px 30px;
			border-bottom: 1px solid $border-gray;
		}
		@include media-breakpoint-up(lg){
			width: 240px;
		}
	}
	&__img{
		@extend .accept-ratio-frame;
		padding-top: (39/24) * 100%;

		@include media-breakpoint-up(lg){
			margin-bottom: rem(8);
		}

		@include media-breakpoint-down(lg){
			padding: 0;
			width: 70px;
			height: 70px;
			margin-right: rem(32);
		}
	}
	&__img-descr{
		display: flex;

		flex-direction: column;
		justify-content: center;
		@include media-breakpoint-up(lg){
			flex-direction: row;
			justify-content: space-between;
		}
	}
	&__i-d-txt{
		color: $body-color;
		font-weight: 300;
		line-height: 1;

		margin-bottom: rem(8);
		@include media-breakpoint-up(lg){
			margin-bottom: 0;
		}
	}
	&__watch-link{
		font-weight: 300;
		line-height: 1;

		@include media-breakpoint-up(lg){
			text-align: right;
		}

		text-decoration: underline;
		color: $body-color;
		&:hover{
			text-decoration: none;
			color: $body-color2;
		}

		@include media-breakpoint-up(lg){
			margin-left: rem(10px);
		}
	}
	//content-col
	&__content-col{

	}
	&__content-row{
		@include media-breakpoint-down(lg){
			//@include roww(0px);
		}
	}
	&__sub-col{

		@include media-breakpoint-down(lg){
			padding: 0;
		}

		@include media-breakpoint-up(lg){
			margin-bottom: rem(48);
		}
	}
	&__title{
		position: relative;
		@extend .before-chevron-frame;

		@include media-breakpoint-down(lg){
			display: block;
			padding: 17px 30px;
			border-bottom: 1px solid $border-gray;

			&.active{
				&:before{
					transform: rotateX(180deg);
				}
			}
		}
		@include media-breakpoint-up(lg){
			&:before{
				content: none;
			}
			display: block;
			color: $body-color2;
			font-family: $mono;
			font-size: $h5-font-size;
			margin-bottom: rem(16);
		}
	}
	&__list{
		display: none;
		&.active{
			display: block;
		}
		@include media-breakpoint-up(lg){
			display: block!important;
		}


		list-style: none;
		padding: 0;
		margin: 0;
		li{
			a{
				padding: 18px 30px;
				border-bottom: 1px solid $border-gray;
				@include media-breakpoint-up(lg){
					padding: 0;
					border: none;
				}

				display: block;
				color: $body-color;
				&:hover{
					color: $body-color2;
					text-decoration: underline;
				}
				font-weight: 300;
				text-align: left;
			}

			@include media-breakpoint-up(lg){
				margin-bottom: rem(8);
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	&__{}
}

.before-chevron-frame{
	&:before{
		@include mt();

		content: '';
		@include media-breakpoint-up(lg){
			content: none;
		}

		width: 12px;
		height: 6px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 24px;
		background-image: url(../img/svg/chevron-down.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}