mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.top-strip
			+e.top-container.container
				+e.menu
					+mnu()
				+e.A.tell(href="tel:+79213412020") +7 (921) 341 20 20
		+e.logo-strip
			+e.logo-container.container
				+e.A.logo(href="/")
					img(src='img/svg/logo.svg' alt="")
				+e.search-cart
					+e.A.search-btn(href='#')
						+icon('search')
					+e.A.cart-btn(href='#')
						+icon('cart')
						span (0)
	// end top-nav