.top-nav {
	font-weight: 400;
	position: relative;
	background-color: $body-bg;
	z-index: 10;

	&__top-strip{
		background-color: $body-color2;
		//height: 30px;
	}
	&__top-container{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__menu{

	}
	&__tell{
		position: absolute;
		height: 100%;
		width: auto;
		right: 15px;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		color: $body-bg;
		&:hover{
			color: $white;
			text-shadow: 0 0 1px rgba($white, .6);
		}
		font-weight: 300;
		line-height: 1;
	}
	.navMenu{
		list-style: none;
		padding: 0;
		margin: 0;

		width: auto;
		display: flex;
		align-items: stretch;

		&__item{
			margin-right: rem(20);
			@include media-breakpoint-up(xxl){
				margin-right: rem(32);
			}
			&:last-child{
				margin-right: 0;
			}
		}
		&__link{
			@include mt();
			display: block;
			font-size: rem(12);
			line-height: rem(30px);

			font-weight: 300;
			color: $light-white;
			text-decoration: none;
			&:hover{
				color: $white;
				text-shadow: 0 0 1px rgba($white, .6);
			}
		}
	}
	//
	&__logo-strip{
		//height: 70px;
		border-bottom: 1px solid rgba($border-gray, .3);
	}
	&__logo-container{
		padding: rem(4) 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__logo{
		width: rem(240);
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}
	}
	//search-cart
	&__search-cart{
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
		height: 100%;
		//background-color: pink;

		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__search-btn{
		padding: rem(10px) rem(13px) rem(15px) rem(13px);
		.icon{
			@include mt();
			font-size: rem(14);
			color: $body-color;
		}

		&:hover{
			.icon{
				transform: scale(1.1);
				color: $black;
			}
		}
	}
	&__cart-btn{
		padding: 15px;
		display: flex;
		align-items: center;
		.icon{
			font-size: rem(14);
			@include mt();
			margin-right: rem(6);
		}

		color: $body-color;
		&:hover{
			color: $black;
		}

		span{
			font-weight: 300;
			font-size: rem(12px);
		}
	}

	//.pop-up-menu
	&__pop-up-menu{
		//height: 50px;
		position: relative;
		border-bottom: 1px solid rgba($border-gray, .3);
		padding: 15px;
	}

	&__pop-up-cont{
		& > ul{
			list-style: none;
			margin: 0;
			padding: 0;

			display: flex;
			align-items: center;
			justify-content: center;
			& > li{

				& > a{
					display: block;
					cursor: pointer;
					font-size: rem(12px);
					line-height: (19/12);
					text-transform: uppercase;
					margin-right: rem(25);

					color: $body-color;
					&:hover{
						color: $black;
					}
				}

			}


			//last
			& > li:last-child{
				//position: relative;
				margin-right: 0;
				display: inline-flex;
				align-items: center;
				a{
					margin-right: 0;
				}
				&:after{
					content: '';
					width: 15px;
					height: 14px;

					background-image: url(../img/svg/wheat.svg);
					background-repeat: no-repeat;
					background-position: 100% 50%;
					background-size: contain;

				}
			}

			&.active > li > a{
				color: rgba($body-color, .5);
				&:hover, &.active{
					color: rgba($body-color, 1);
				}
			}

		}
	}
	&__inner-pop{
		position: absolute;
		background-color: $body-bg;
		box-shadow: inset 0 0 0 1px red;
		top: calc(100% + 1px);
		left: 0;
		width: 100%;
		height: auto;
		@include mt();
		transform-origin: top;
		overflow-x: auto;

		//transform: scaleY(0);
		&.active{
			transform: scaleY(1);
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
}

.yadoma-c{
	padding: rem(80px) 15px;
	&__container{
		max-width: rem(980px);
		margin: 0 auto;
	}
	&__title{
		font-family: $mono;
		line-height: 1;
		margin-bottom: rem(15);
	}

	&__top-items-cont{
		margin-bottom: rem(48);
		position: relative;
		&:after{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: calc(100% - 68px);
			height: 1px;
			background-color: $primary;
		}
	}
	&__top-items{
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap: wrap;
		height: 325px;
		overflow-y: auto;
		@extend .customs-scroll;
	}
	&__item{
		width: rem(160px);
		padding-bottom: rem(48);

		margin-right: rem(40);
		&:nth-child(5n){
			margin-right: 0;
		}
	}
	&__img-inner{
		display: block;
		position: relative;
		width: 100%;
		height: 0;
		padding-top: (10/16) * 100%;
		margin-bottom: rem(16);

		background-color: $black;
		overflow: hidden;
		&:hover{
			img{
				transform: scale(1.1);
				opacity: .8;
			}
		}

		img{
			@include mt();
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__i-title{
		color: $body-color2;
		font-family: $mono;
		font-size: $h5-font-size;
		margin-bottom: rem(16);
	}
	&__list{
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			a{
				display: block;
				color: $body-color;
				&:hover{
					color: $black;
					text-decoration: underline;
				}
				font-weight: 300;
				line-height: 1;
			}
			margin-bottom: rem(12);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	//bot-items
	&__bot-row{
		padding-bottom: rem(60);
	}
	&__bot-col{
		margin-bottom: rem(30);
	}
	&__bot-item{
		a{
			display: block;

			color: $body-color;
			&:hover{
				color: $body-color2;
			}
		}
	}
	&__bot-img{
		width: 160px;
		span{
			display: block;
		}
	}
	&__bot-txt{
		color: $body-color;
		font-weight: 300;
		line-height: 1.1;
	}

	&__{}
	&__{}
}

.customs-scroll{
	/* width */
	&::-webkit-scrollbar {
		width: 4px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		border-radius: 10px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $scroll-gray;
		border-radius: 0;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: darken($scroll-gray, 5);
	}
}

//.part-5
.part-5{
	padding: rem(48px) 0 rem(94px) 0;
	&__row{
		@include roww(48px);
	}
	&__img-col{
		width: 240px;
	}
	&__img{
		@extend .accept-ratio-frame;
		padding-top: (39/24) * 100%;

		margin-bottom: rem(8);
	}
	&__img-descr{
		display: flex;
		justify-content: space-between;
	}
	&__i-d-txt{
		color: $body-color;
		font-weight: 300;
		line-height: 1;
	}
	&__watch-link{
		font-weight: 300;
		line-height: 1;
		text-align: right;

		text-decoration: underline;
		color: $body-color;
		&:hover{
			text-decoration: none;
			color: $body-color2;
		}

		margin-left: rem(10px);
	}
	//content-col
	&__content-col{

	}
	&__content-row{

	}
	&__sub-col{
		margin-bottom: rem(48);
	}
	&__title{
		display: block;
		color: $body-color2;
		font-family: $mono;
		font-size: $h5-font-size;
		margin-bottom: rem(16);
	}
	&__list{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			a{
				display: block;
				color: $body-color;
				&:hover{
					color: $body-color2;
					text-decoration: underline;
				}
				font-weight: 300;
				text-align: left;
			}

			margin-bottom: rem(8);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__{}
}