mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.top-strip.d-none.d-lg-block
			+e.top-container.container
				+e.menu
					+mnu()
				+e.A.tell(href="tel:+79213412020") +7 (921) 341 20 20
		+e.logo-strip
			+e.search-strip.search-strip-js
				+form-wrap
					+input('Введите название, артикул или категорию', 'text', undefined, 'search')
					+e.LABEL.btn
						button(type="submit")
						+icon('search')
						span Искать
			+e.logo-container.container
				+e.burger-btn.burger-btn-js.d-lg-none.d-flex
					span
				+e.A.logo(href="/")
					img(src='img/svg/logo.svg' alt="")
				+e.search-cart
					+e.A.search-btn.search-btn-js(href='#')
						+icon('search')
						+icon('cross')
					+e.A.cart-btn(href='#')
						+icon('cart')
						span (0)
		+e.pop-up-menu.pop-up-menu-js
			+e.A.mob-tell.d-lg-none(href='tel:+79213412020') +7 (921) 341 20 20
			+e.pop-up-cont.container.pop-up-cont-js
				ul
					li
						a(href="#") Новинки
					+popUpItem('Кухня')
						+b.part-5
							+e.container.container
								+e.row.row
									+e.img-col.col-auto
										+e.A.img(href='#')
											img(loading="lazy" src='img/@2x/kitchen-img.jpg' alt="")
										+e.img-descr
											+e.i-d-txt Свежие природные тона
											+e.A.watch-link(href="#") Смотреть
									+e.content-col.col
										+e.content-row.row
											+contentRowItem('Актуально', 'Новинки', 'Природные оттенки', 'Бренды')
											+contentRowItem('Хранение', 'Хлебницы', 'Ёмкости для хранения', 'Ёмкости для хранения', 'Папки для рецептов')
											+contentRowItem('Доски', 'Хлебные доски')
											+contentRowItem('Ножи', 'Хлебные ножи')
					+popUpItem('Столовая')
						+b.part-5
							+e.container.container
								+e.row.row
									+e.img-col.col-auto
										+e.A.img(href='#')
											img(loading="lazy" src='img/@2x/dining-room-img.jpg' alt="")
										+e.img-descr
											+e.i-d-txt Свежие природные тона
											+e.A.watch-link(href="#") Смотреть
									+e.content-col.col
										+e.content-row.row
											+contentRowItem('Актуально', 'Новинки', 'Природные оттенки', 'Бренды')
											+contentRowItem('Столовая посуда', 'Тарелки', 'Тарелки подстановочные', 'Чаши, салатники, миски', 'Этажерки')
											+contentRowItem('Стекло', 'Стаканы и бокалы для воды', 'Бокалы для вина', 'Бокалы для игристого')
											+contentRowItem('Для подачи', 'Подносы, сервировочные доски', 'Кувшины, графины', 'Этажерки', 'Хлебные корзины')
											+contentRowItem('Столовые приборы', 'Вилки', 'Ложки', 'Ножи')
											+contentRowItem('Столовый текстиль', 'Салфетки')
											+contentRowItem('Столовый текстиль', 'Салфетки')
					+popUpItem('Декор')
						+b.part-5
							+e.container.container
								+e.row.row
									+e.img-col.col-auto
										+e.A.img(href='#')
											img(loading="lazy" src='img/@2x/flowers-img.jpg' alt="")
										+e.img-descr
											+e.i-d-txt Коллекция FALL-2020
											+e.A.watch-link(href="#") Смотреть
									+e.content-col.col
										+e.content-row.row
											+contentRowItem('Актуально', 'Новинки', 'Природные оттенки', 'Бренды')
											+contentRowItem('Свечи', 'Столовые свечи', 'Декоративные свечи')
											+contentRowItem('Вазы', 'Декоративные вазы')
					+popUpItem('Система YaDoma')
						+b.yadoma-c
							+e.container
								+e.H3.title Кухня
								+e.top-items-cont
									+e.top-items
										+yadomaCTopItem()
										+yadomaCTopItem()
										+yadomaCTopItem()
										+yadomaCTopItem()
										+yadomaCTopItem()
										+yadomaCTopItem()
										+yadomaCTopItem()
								+e.H3.title Столовая
								+e.bot-row.row
									+botItem(1, 'Зона воды')
										| Стаканы и бокалы для воды
									+botItem(2, 'Куверт')
										| Тарелки подстановочные
									+botItem(3, 'Welcome')
										| Подносы, сервировочные доски
			+e.mob-menu.d-lg-none
				+mnu()
	// end top-nav
mixin contentRowItem(title,...items)
	+e.sub-col.col-lg-4.col-xl-3
		+e.title.sub-col-title-js=title
		+e.UL.list.sub-col-list-js
			each item in items
				li
					a(href="#")=item

mixin botItem(imgNum, title, txt)
	+e.bot-col.col-md-4.col-xl-3
		+e.bot-item
			+e.A.bot-img(href="#")
				+e.img-inner
					img(loading="lazy" src=`img/@2x/bot-item-${imgNum}.jpg` alt="")
			+e.bot-txt-cont
				+e.A.i-title(href="#")=title
				+e.A.bot-txt(href="#")
					block

mixin yadomaCTopItem()
	+e.item
		+e.A.img-inner(href="#")
			img(loading="lazy" src="img/@2x/bread-img.jpg" alt='')
		+e.i-title Хлебная зона
		+e.UL.list
			li
				a(href="#") Хлебницы
			li
				a(href="#") Хлебные доски
			li
				a(href="#") Хлебные ножи
			li
				a(href="#") Хлебные корзины
			li
				a(href="#") Салфетки

mixin popUpItem(titleTxt)
	li
		a.pop-up-link-js(href="#")=titleTxt
		+e.inner-pop.inner-popup-js
			block