mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.top-strip
			+e.top-container.container
				+e.menu
					+mnu()
				+e.A.tell(href="tel:+79213412020") +7 (921) 341 20 20
		+e.logo-strip
			+e.logo-container.container
				+e.A.logo(href="/")
					img(src='img/svg/logo.svg' alt="")
				+e.search-cart
					+e.A.search-btn(href='#')
						+icon('search')
					+e.A.cart-btn(href='#')
						+icon('cart')
						span (0)
		+e.pop-up-menu
			+e.pop-up-cont.container.pop-up-cont-js
				ul
					+popUpItem('Новинки')
						| 1
					+popUpItem('Кухня')
						+b.part-5
							+e.container.container
								+e.row.row
									+e.img-col.col-auto
										+e.A.img(href='#')
											img(loading="lazy" src='img/@2x/kitchen-img.jpg' alt="")
										+e.img-descr
											+e.i-d-txt Свежие природные тона
											+e.A.watch-link(href="#") Смотреть
									+e.content-col.col
										+e.content-row.row
											+contentRowItem('Актуально', 'Новинки', 'Природные оттенки', 'Бренды')
											+contentRowItem('Хранение', 'Хлебницы', 'Ёмкости для хранения', 'Ёмкости для хранения', 'Папки для рецептов')
											+contentRowItem('Доски', 'Хлебные доски')
											+contentRowItem('Ножи', 'Хлебные ножи')
					+popUpItem('Столовая')
					+popUpItem('Декор')
					+popUpItem('Система YaDoma')
						+b.yadoma-c.d-none
							+e.container
								+e.H3.title Кухня
								+e.top-items-cont
									+e.top-items
										+yadomaCTopItem()
										+yadomaCTopItem()
										+yadomaCTopItem()
										+yadomaCTopItem()
										+yadomaCTopItem()
										+yadomaCTopItem()
										+yadomaCTopItem()
								+e.H3.title Столовая
								+e.bot-row.row
									+botItem(1, 'Зона воды')
										| Стаканы и бокалы для воды
									+botItem(2, 'Куверт')
										| Тарелки подстановочные
									+botItem(3, 'Welcome')
										| Подносы, сервировочные доски
	// end top-nav
mixin contentRowItem(title,...items)
	+e.sub-col.col-lg-4.col-xl-3
		+e.title=title
		+e.UL.list
			each item in items
				li
					a(href="#")=item

mixin botItem(imgNum, title, txt)
	+e.bot-col.col-sm-6.col-md-4.col-xl-3
		+e.bot-item
			+e.bot-img(href="#")
				+e.A.img-inner(href="#")
					img(loading="lazy" src=`img/@2x/bot-item-${imgNum}.jpg` alt="")
			+e.A.i-title(href="#")=title
			+e.A.bot-txt(href="#")
				block

mixin yadomaCTopItem()
	+e.item
		+e.A.img-inner(href="#")
			img(loading="lazy" src="img/@2x/bread-img.jpg" alt='')
		+e.i-title Хлебная зона
		+e.UL.list
			li
				a(href="#") Хлебницы
			li
				a(href="#") Хлебные доски
			li
				a(href="#") Хлебные ножи
			li
				a(href="#") Хлебные корзины
			li
				a(href="#") Салфетки

mixin popUpItem(titleTxt)
	li
		a(href="#")=titleTxt
		+e.inner-pop.inner-popup-js
			block