mixin sNew(data)
	// start sNew
	+b.SECTION.sNew.section#sNew&attributes(attributes)
		+e.container.container
			+e.row
				+e.title-col
					+b.section-title
						h2 Новинки
						p Управляйте своим пространством с нашими новинками
						a(href="#") Все новинки
				+e.slider-col
					+newSlider()
	// end sNew
mixin newSlider(navBtnClasses='d-none d-md-flex')
	+e.slider&attributes(attributes)
		.swiper-container.new-slider-js
			.swiper-wrapper
				+newSlide(1, 'DEGRENNE', '3 670 RUB')
					span
						| Круглая тарелка для презентации
						br
						| блюд, 30 см
					span BAHIA
				+newSlide(2, 'YADOMA', '19 000 RUB')
					span Хлебница из красной глины
					br
					span Bread Collection
				+newSlide(3, 'Gourmet', '2 200 RUB')
					span Мини-боул Gourmet
					span ROC
				+newSlide(4, 'WUSTHOF', '16 990 RUB')
					span
						| Хлебный нож из нержавеющей
						br
						| стали
					span Ikon Classic
				+newSlide(5, 'YADOMA', '3 200 RUB')
					span Доска для хлеба
					span Bread
				+newSlide(6, 'DEGRENNE', '2 400 RUB')
					span Круглая хлебная корзинка
					span ROC
				.swiper-slide
					+e.A.slide-content(href="#")
						+e.slide-img
							img.swiper-lazy(src="#" data-src=`img/@2x/new-slide-7.jpg` alt="")
			+b.new-next--js(class=navBtnClasses)
				+icon('chevron-right')
mixin newSlide(imgNum, nameTxt, priceTxt)
	.swiper-slide
		+e.A.slide-content(href="#")
			+e.slide-img
				img.swiper-lazy(src="#" data-src=`img/@2x/new-slide-${imgNum}.jpg` alt="")
			if nameTxt
				+e.name=nameTxt
			+e.descr
					block
			if priceTxt
				+e.price=priceTxt

mixin sNew-bread(data)
	// start sNew
	+b.SECTION.sNew--bread.section#sNew&attributes(attributes)
		+e.container.container
			+e.row
				+e.title-col
					+b.section-title
						h1 Хлебная зона
						p Мы&nbsp;сортируем продукты лучшим образом для того, чтобы каждый мог найти что-то своё
				+e.slider-col
					+e.slider
						.swiper-container.new-slider-js
							.swiper-wrapper
								+newSlide('04_1')
									h6.fw-300 Хлебницы

								+newSlide('04_2')
									h6.fw-300 Хлебные доски

								+newSlide('04_3')
									h6.fw-300 Хлебные корзины

								+newSlide('04_4')
									h6.fw-300 Хлебные ножи

							+b.new-next--js.d-none.d-md-flex
								+icon('chevron-right')