mixin sBrends(data)
	// start sBrends
	+b.SECTION.sBrends.section#sBrends&attributes(attributes)
		.container
			+e.main-row
				+e.img-col
					+e.img
						+e.img-inner
							img(loading="lazy" src=`img/svg/brend-img.svg` alt="")
				+e.txt-col
					+e.H2.title Только лучшие бренды для создания единой логичной системы в вашем доме.
					+e.descr
						p Мы создаём продукты для осознанной организации пространства. Чем меньше времени вы тратите на поиски нужного предмета, тем больше у вас времени на важное.
						a(href="#") Подробнее
	// end sBrends