// start .sBrand
.sBrand {
	--sTPB: #{rem(55)};
	--sPT: #{rem(40)};
	--sPB: #{rem(17)};
	@include media-breakpoint-up(md) {
		--sTPB: #{rem(65)};
		--sPT: #{rem(48)};
		--sPB: #{rem(17)};
	}
	@include media-breakpoint-up(xl) {
		--sTPB: #{rem(105)};
		--sPT: #{rem(70)};
		--sPB: #{rem(60)};

	}

	&__logo {
		text-align: center;
		padding-bottom: rem(55);
		@include media-breakpoint-up(xl) {
			padding-bottom: rem(91);
		}

		img {
			@include media-breakpoint-down(sm) {
				width: 25vw;
			}
		}
	}

	&__textWrap {
		@include media-breakpoint-up(xl) {
			max-width: rem(517);
			margin-left: auto;
			margin-right: auto;
		}
	}


	&__imgWrap {
		max-width: rem(276px);
		height: rem(324px);
		@include media-breakpoint-up(md) {
			max-width: rem(336px);
			height: rem(409);
		}
		@include media-breakpoint-up(xl) {
			max-width: rem(433px);
			height: rem(527);
		}
		background: #fff;

		picture {
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}


		&--sm {
			@include media-breakpoint-down(md) {
				width: 101vw;
				margin-left: calc(((100vw - 100%) / 1.6) * -1);
			}
			max-width: none;
			height: rem(382);
			@include media-breakpoint-up(md) {
				max-width: rem(325px);
				height: rem(331);
			}
			@include media-breakpoint-up(xl) {
				max-width: rem(440px);
				height: rem(448);
			}
		}

		span {
			margin-top: rem(8);
			display: block;
		}
	}

	&__imgRow {
		@include media-breakpoint-down(md) {
			padding-bottom: rem(75);
		}
	}

	&__imgCol {
		display: grid;
		place-items: center;
		padding-bottom: rem(45);
		@include media-breakpoint-up(md) {
			padding-bottom: rem(75);
		}
	}

	h5 {
		font-weight: 300;
		line-height: 1.5;
		margin-bottom: rem(16);
	}

	h3 {
		margin-bottom: 2.4rem;
		font-size: rem(24);
		line-height: 1.5;


		@include media-breakpoint-down(md) {
			text-align: center;
		}
	}

	h1, .h1 {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: -16px;
			@include media-breakpoint-up(md) {
				bottom: -28px;
			}
			@include a-cent(x);
			width: rem(35);
			height: 1px;
			background-color: $primary;
		}
	}

	&__list {
		padding-bottom: rem(40);

		a {
			display: block;
			margin-bottom: rem(8);
		}
	}

	&__letter {
		@extend .mono;
		font-size: $h5-font-size;
		margin-bottom: rem(16);
	}








	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}


	//about page

	&--about {
		padding-bottom: 0;
		.sBrand__row {
			padding-bottom: calc(var(--sPB) * 1.6);
		}

		h3 {
			@include media-breakpoint-down(md) {
				text-align: left;
			}
		}

		.sBrand__imgRow {
			
			@include media-breakpoint-down(md) {
				padding-bottom: 0;
			}
		}

		.sBrand__imgCol {
			@include media-breakpoint-up(md) {
				padding-bottom: rem(47);
			}
		}

		.sBrand__imgCol--founder {
			padding-bottom: rem(65);
			@include media-breakpoint-up(md) {
				padding-bottom: rem(120);
			}
		}

		.sBrand__textWrap {
			h3 {
				font-family: $default-font;
			}
		}
	}

	h6 {
		font-weight: 300;
		line-height: 1.5;
		margin-bottom: 2.3rem;
	}


	&__banner {
		position: relative;
		height: rem(600);
		margin-bottom: rem(35);
		@include media-breakpoint-up(md) {
			height: rem(450);
			margin-bottom: rem(70);
		}
		@include media-breakpoint-up(xl) {
			height: rem(600);
			margin-bottom: rem(120);
		}
	}
	
	h2 {
		margin-bottom: rem(30);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(80);
		}
	}



	ul {
		li {
			position: relative;
			list-style: none;
			font-size: rem(16);
			padding-left: rem(40);
			padding-bottom: rem(30);
			line-height: 1.4;
			@include media-breakpoint-up(md) {
				line-height: 1.5;
				padding-bottom: rem(48);
			}

			&::before {
				content: '';
				position: absolute;
				width: rem(20);
				height: rem(15);
				position: absolute;
				left: 0;
				top: rem(7);
				background-image: url('../img/svg/check-about.svg');
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	&__listRow {
		padding-bottom: calc(var(--sPB) * 1.43);
		@include media-breakpoint-up(xl) {
			@include roww(60px);
			justify-content: center;
		}
	}

	&__col {
		@include media-breakpoint-up(xl) {
			max-width: 31%;
		}
	}


} // end.sBrand

.yadomaBlock {
	padding-top: rem(150);
	padding-bottom: rem(148);
	@include media-breakpoint-up(md) {
		padding-top: rem(168);
	}
	background-color: $border-gray;
	color: $body-bg;
	text-align: center;

	h3 {
		margin-bottom: rem(30);
		max-width: rem(550);
		margin-left: auto;
		margin-right: auto;
		font-family: $default-font;
		@include media-breakpoint-down(md) {
			text-align: center;
			margin-bottom: rem(20);
			font-size: rem(20);
		}
	}

	&__name {
		text-transform: uppercase;
		font-size: 48px;
		@include media-breakpoint-up(md) {
			font-size: 64px;
		}
		@extend .mono;
	}
}