mixin sBrand(data)
	// start sBrand
	+b.sBrand.section#sBrand&attributes(attributes)
		.container
			+e.logo
				img.res-i(src="img/svg/headLogo-1.svg", alt="logo")
				
			+e.imgRow.row
				+e.imgCol.col-md-6
					+e.imgWrap--sm
						+pic('brand-1','','')
				+e.imgCol.col-md-6
					+e.imgWrap
						+pic('brand-2')
						span Ги Дегрен, основатель торговой марки Degrenne

			+e.row.row
				.col-md-6
					+e.textWrap
						h3 О бренде Degrenne
						h5 Компания Guy Degrenne, созданная во&nbsp;Франции более 60&nbsp;лет назад, проектирует, разрабатывает и&nbsp;производит столовые приборы премиум класса, посуду и&nbsp;кухонные принадлежности по&nbsp;всему миру. Guy Degrenne тесно сотрудничает с&nbsp;известным и&nbsp;уважаемыми шеф-поварами для достижения уникального дизайна столовых приборов, которые используют клиенты по&nbsp;всему миру.
				.col-md-6
					+e.textWrap
						h3.d-none.d-md-block &nbsp;
						h5 Компания Guy Degrenne, созданная во&nbsp;Франции более 60&nbsp;лет назад, проектирует, разрабатывает и&nbsp;производит столовые приборы премиум класса, посуду и&nbsp;кухонные принадлежности по&nbsp;всему миру.
	// end sBrand

mixin sBrand-2(data)
	// start sBrand
	+b.SECTION.sBrand.section#sBrand&attributes(attributes)
		.container
			+e.logo
				img.res-i(src="img/svg/headLogo-2.svg", alt="logo")
				
			+e.imgRow.row
				+e.imgCol.col-md-6
					+e.imgWrap--sm
						+pic('brand-3','','')
				+e.imgCol.col-md-6
					+e.imgWrap
						+pic('brand-4')
						span Оксана Ермолаева, CEO YADOMA 

			+e.row.row
				.col-md-6
					+e.textWrap
						h3 О бренде YADOMA
						h5 Yadoma&nbsp;&mdash; мультизадачный проект о&nbsp;готовых решениях для красивого и&nbsp;логичного дома. Здесь вы&nbsp;найдете лучшие бренды и&nbsp;эксклюзивные предметы собственного производства. При выборе товаров мы&nbsp;акцентируем внимание на&nbsp;его премиальном качестве. Мы&nbsp;дорожим сотрудничеством со&nbsp;всемирно известными производителями и&nbsp;стремимся открывать новые для российского клиента имена.
				.col-md-6
					+e.textWrap
						h3.d-none.d-md-block &nbsp;
						h5 Все представленные товары легко сочетаются друг с&nbsp;другом, организуя функциональные зоны. Ведь чем меньше времени вы&nbsp;тратите на&nbsp;поиски нужного предмета, тем больше времени остается на&nbsp;важное.


mixin sBrand-list(data)
	// start sBrand
	+b.SECTION.sBrand.section#sBrand&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Список брендов

			+e.list
				+e.letter D
				a(href="#") Degrenne

			+e.list
				+e.letter Y
				a(href="#") YADOMA


mixin sBrand-about(data)
	// start sBrand
	+b.SECTION.sBrand--about.section#sBrand&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 О нас
				
			+e.imgRow.row
				+e.imgCol.col-md-6
					+e.imgWrap--sm
						+pic('brand-5','','')
				+e.imgCol.col-md-6
					+e.imgWrap
						+pic('brand-6','','')

			+e.row.row
				.col-md-6
					+e.textWrap
						h3 Yadoma&nbsp;&mdash; мультизадачный проект о&nbsp;готовых решениях для красивого и&nbsp;логичного дома. Здесь вы&nbsp;найдете лучшие бренды и&nbsp;эксклюзивные предметы собственного производства. При выборе товаров мы&nbsp;акцентируем внимание на&nbsp;его премиальном качестве. Мы&nbsp;дорожим сотрудничеством со&nbsp;всемирно известными производителями и&nbsp;стремимся открывать новые для российского клиента имена.
				.col-md-6
					+e.textWrap
						h5 Все представленные товары легко сочетаются друг с&nbsp;другом, организуя функциональные зоны. Ведь чем меньше времени вы&nbsp;тратите на&nbsp;поиски нужного предмета, тем больше времени остается на&nbsp;важное.
						h5 Проект Yadoma&nbsp;&mdash; это базовый гардероб для вашего дома, в&nbsp;котором нет ни&nbsp;одной вещи, которая не&nbsp;украсит его или не&nbsp;принесет пользы.
			.row.justify-content-center
				+e.imgCol--founder.col-md-6
					h2.mb-5 Основатель проекта
					+e.imgWrap
						+pic('brand-7','','')
						span Оксана Ермолаева, CEO YADOMA 
			+e.row--founder.row
				.col-md-6
					+e.textWrap
						h6 Все началось с&nbsp;ее&nbsp;желания поделиться универсальной системой организации пространства, которая работает вне зависимости от&nbsp;количества квадратных метров. &laquo;Но&nbsp;куда пойдут люди за&nbsp;тем, что я&nbsp;собирала в&nbsp;своем доме годами?&raquo;&nbsp;&mdash; эта мысль пришла одновременно с&nbsp;идеей.
						h6 Основатель проекта Оксана Ермолаева&nbsp;&mdash; топ-менеджер по&nbsp;складу характера. Для нее структурировать быт так&nbsp;же естественно, как отстраивать бизнес-процессы. А&nbsp;к&nbsp;ремонту в&nbsp;офисе на&nbsp;700 квадратных метров она относится так&nbsp;же щепетильно, как к&nbsp;ремонту с&nbsp;архитектурными перепланировками в&nbsp;собственном доме. Ведь когда есть система, легко работать в&nbsp;любых масштабах.
				.col-md-6
					+e.textWrap
						h6 В&nbsp;социальных медиа под именем @yaksana стали появляться отдельные советы и&nbsp;видеообзоры. Желание делиться опытом совпадало с&nbsp;желанием аудитории его получать. Эстетика дома Оксаны и&nbsp;рациональный подход вдохновляли многих и&nbsp;находили самые искренние отклики. Так родилась система YADOMA. Благодаря опыту и&nbsp;в&nbsp;ответ на&nbsp;потребности.
		+e.banner
			+pic('banner04','bg','')(class="picture-bg")
		.container
			+e.row.row
				.col-md-6
					+e.textWrap
						h3 Главное для нас
						h6 Проект Yadoma создан, чтобы грамотно разделить пространство на&nbsp;зоны и&nbsp;наполнить их&nbsp;качественными, функциональными и&nbsp;красивыми продуктами. Иными словами, чтобы создать базовый гардероб для вашего дома, в&nbsp;котором вещи сочетаются друг с&nbsp;другом. Но&nbsp;самое главное для нас&nbsp;&mdash; это счастливый дом, в&nbsp;котором зашифрованы ваш образ жизни и&nbsp;эмоции. Он&nbsp;не&nbsp;о&nbsp;моде и&nbsp;не&nbsp;о&nbsp;трендах. Дом о&nbsp;том, что наполняет спокойствием и&nbsp;уверенностью каждый новый день, о&nbsp;заботливых и&nbsp;трепетных отношениях. Здесь воспитываются дети и&nbsp;готовится вкусная еда, строятся планы и&nbsp;рождаются мечты.
				.col-md-6
					+e.textWrap
						h3 Бренд YADOMA
						h6 Когда знаешь, как все должно быть, но&nbsp;не&nbsp;находишь этого, единственное решение&nbsp;&mdash; создавать! Не&nbsp;бояться и&nbsp;создавать. Многие предметы на&nbsp;рынке существуют отдельно друг от&nbsp;друга. Их&nbsp;сложно сочетать. Одним не&nbsp;хватает качества, другие выполнены не&nbsp;из&nbsp;тех материалов, третьи не&nbsp;подходят по&nbsp;размеру... В&nbsp;таком случае появляется новый&nbsp;&mdash; выверенный, эргономичный, функциональный, идеально выписывающийся в&nbsp;систему вашего дома предмет под брендом Yadoma. При его создании учитывались недостатки существующих товаров и&nbsp;совершенствовались их&nbsp;базовые функции. Именно так появился первый эксклюзивный продукт бренда&nbsp;&mdash; глиняная хлебница. Лаконичная по&nbsp;дизайну, эргономичная по&nbsp;форме, экологичная по&nbsp;материалам&nbsp;и, конечно, максимально эффективная. В&nbsp;ней хлеб сохраняет свежесть (и&nbsp;первоначальный вкус) в&nbsp;течение недели.
			+e.services.text-center
				h2 Сервисы YADOMA
			+e.listRow.row
				.col-lg-4.col-xl-3
					ul
						li Для вас мы&nbsp;собрали лучшее, базовое, фундаментальное на&nbsp;yadoma.com, чтобы сохранить время и&nbsp;избавить от&nbsp;долгих поисков.
						li Для вашего дома мы&nbsp;придумали готовые решения, чтобы каждый предмет работал и&nbsp;приносил удовольствие.
				+e.col.col-md-4.col-xl
					ul
						li Для вашего спокойствия мы&nbsp;разработали удобный и&nbsp;безопасный сайт. Поиск товаров можно осуществлять привычным способом по&nbsp;каталогу или системно. Yadoma предлагает универсальный подход к&nbsp;зонированию пространства и&nbsp;коллекции предметов для каждой зоны.
						li Для вашего удобства будет доступен выездной сервис. Специалист-декоратор может приехать в&nbsp;ваш дом с&nbsp;образцами продукции, чтобы составить индивидуальный чек-лист. Вы&nbsp;получите список продуктов, удовлетворяющий все потребности, заполните дом с&nbsp;нуля.
				.col-lg-4.col-xl-3
					ul
						li Вы&nbsp;можете быть уверены, что приобретаете&nbsp;то, с&nbsp;помощью чего создаются домашние традиции. То, что хочется передать детям. То, что прослужит долгие годы.
						li Нас вдохновляет возможность быть причастными к&nbsp;созданию уюта в&nbsp;вашем доме и&nbsp;движет забота о&nbsp;вашей семье.
						li Наши товары доступны для покупателей из&nbsp;России и&nbsp;Европы.
		+b.yadomaBlock
			.container
				h3 Знаете, о чем думают наши предметы, когда приходят, приезжают или прилетают в ваш дом?
				+e.name я ДОМА